body {
  background-color: #3c8a52;
}

/** Loading Screen **/
.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

/** board **/
#board {
  border: 9px solid #DEB887;
  margin: 60px auto 0 auto;

  height: 368px;
  width: 368px;
}

/** squares **/
.square {
  display: inline;
  float: left;
  height: 46px;
  width: 46px;
}

.placeholder {
  height: 46px;
  width: 46px;
}

.drop-target {
  position: relative;
  margin-top: -46px;
  width: 46px;
  height: 46px;
}

.square.light {
  background-color: #ccc;
}

.square.dark {
  background-color: #444;
}

/** pieces **/
.piece {
  background-color: blue;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0 0 3px #666;
  display: block;
  margin: 7px;
  height: 32px;
  width: 32px;
}

.placed .piece {
  margin-top: -39px;
}

.piece.light {
  background-color: red;
}

.piece.dark {
  background-color: black;
}
